
body{
background-color:#9c9f84;

}

h1{
  text-align:left;
  font-size: 25px;
margin-left: 10px;
  color: black;
}



/* =================HEADER================================ */

#header{
  background-color:#5c755e;
  margin: 10px;
  height: 90px;
  border-radius: 10px;
}
#header h2{
  font-style: italic;
  font-family: monospace;
  font-size: 40px;
  color:#e5e4d7;
}
/* =========================================================== */
/* ==================NAVIGATION BAR===========================*/


#navbar ul{

  padding: 5px;
  list-style-type: none;
  text-align: center;
  border-radius: 5px;
  margin: 5px;


}


#navbar ul li{

  display: inline;


}
#navbar ul li a{

  text-decoration: none;
  font-family: arial;
  padding: .2em 2em;
  color: #fff;
  font-size: 140%;
  background-color: #000;
}

#navbar ul li a:hover{

color: #000;
background-color: #fff;

}

#navbar{
  background-color:#5c755e;
  margin: 10px;
  height: 50px;
  border-radius: 10px;

  padding: 5px;
  list-style-type: none;
  text-align: center;

}








/*=================CRIMINAL REGISTRATION FORM================*/
#name{
  width:80%;
  padding: 10px;
  border-radius: 5%;
  outline: 0;
  border: 1px solid lightgray;

}
table{
  margin-left:10px;
margin-right: 0px;
color:black;
background-color:#5c755e;
border-collapse: collapse;
font-size: 20px;
font-family: serif;
padding: 5px;
border 5px solid white;
text-align: -webkit-center
border-color:black;
border-radius: 15px;


}

.Qualification{
  font-size:18px;
  font-family: monospace;
}




.sideright{
  background-color: lightgreen;
  margin-left:0px;
  margin-right: 10px;

  margin-bottom: 500px;
  border-radius: 10px;
  padding: 20px;
  font-size: 105%;
  float:right;
  width: 1330px;
  height: 545px;
clear: right;
background-image: url(ecdb65e4779a54b324f4c08bf58e6411.JPG);


}

.sideright:hover{
  background-color: lightgreen;
  opacity: 1.0;
}




/*==================FOOTER LAYOUT=====================*/

#footer{
  background-color: #5c755e;
  margin: 10px;
  clear: both;
  height: 60px;
  border-radius: 5px;
  color: #efe5d0;
  text-align: center;
  padding: 15px;
  font-size: 90%;


}


#footer ul{

  padding: 5px;
  list-style-type: none;
  text-align: center;
  border-radius: 5px;
  margin: 5px;


}


#footer ul li{

  display: inline;

}
#footer ul li a{

  text-decoration: none;
  font-family: arial;
  padding: .2em 1em;
  color: #efe5d0;
  background-color: #5c755e;
}

#footer ul li a:hover{

color: #000;
background-color: #fff;

}
